body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.2em;
    width: 35%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    min-height: 50vh;
    color: rgb(49, 49, 49);
}

#songList {
    background: linear-gradient(to bottom right, lightBlue, aliceBlue);
    border-radius: 10px;
    text-align: left;
}

li {
    padding: 10px;
}

li:hover, i:hover {
    cursor: pointer;
}

ol {
    margin-top: 0;
}

#controls {
    background: lightSkyBlue;
    border-radius: 10px;
    padding: 1.5em;
}

#controls p {
    margin-bottom: 8px;
}

#infoBar {
    background: lightBlue;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

#infoBar p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#progress {
    margin-top: 5px;
}

a {
    color: deepSkyBlue;
    font-weight: bold;
    font-size: 85%;
}

a:hover {
    text-decoration: none;
}

#currentSong {
    font-weight: bold;
}

progress {
    width: 80%;
    margin: 10px;
}

@media all and (min-width: 800px) and (max-width: 1000px) {
    body {
        width: 50%;
    }
}

@media all and (min-width: 500px) and (max-width: 800px) {
    body {
        width: 65%;
    }
}

@media all and (max-width: 500px) {
    body {
        width: 80%;
        font-size: 0.8em;
    }
}